body{
    background-color: #E4E6EB;
    font-family: 'Assistant',sans-serif;
    color: #071c4d;
}
.navbar-brand{
    img{
        max-height: 40px;
        
    }
}

.navbar-light{
    .navbar-nav{
        .nav-link{
            color: #071c4d !important;   
            &.active{
                font-weight: bold;
                color: #071c4d !important;
                
            }
        }

    }
}

.btn-navbar-right{
    margin-top: -15px !important;
    margin-bottom: -13px !important;
    margin-right: -32px !important;
    
    height: 70px;
    border-radius: 0;
}

.btn-login{
    background-color: #0e5fa7;
    border-radius: 2;
    color: #fff;

    &:hover{
        background-color: #1E3771;
        color: #fff;
    } 
}

// header

header{
    margin-top: -70px;
    padding: 180px 0px 165px;
    background-image: url('../images/h2.jpg');
    background-size: cover;
    h1{
        color: rgb(255, 255, 255);
        font-family: 'Playfair Display',sans-serif;
        font-weight: bold;
        font-size: 40px;
    }
    p{
        font-size: 20px;
        color: rgb(255, 255, 255);
    }

    .btn-get-started{
        background-color:rgba(7, 225, 250, 0.822);
        &:hover{
            color: #fafafa;
          }
    }
}

// statistics

.section-stats{
    margin-top: -50px;
}

.stats-detail{
    padding-top: 15px;
    background-color: rgb(255, 255, 255);
    padding-left: 40px;
    border-radius: 1000;

    h2{
        font-size: 30px;
        margin-bottom: 0;
    }

    p{
        font-size: 20px;
        font-weight: lighter;
    }
}

.section-popular{
    min-height: 540px;
    background-color: #052b34;
    margin-top: -50px;
    margin-bottom: -230px;

    .section-popular-heading{
        margin-top: 150px;

        h2,p{
            color: #fff;
        }
        h2{
            font-family: 'Playfair Display',sans-serif;
            font-size: 40px;
        }
    }
}
    .section-popular-content{
        .section-popular-travel{
            .card-travel{
                min-height: 380px;
                background-color: #ddd;
                color: #fff;
                padding: 30px;
                background-size: cover;
                margin-bottom: 20px;
            }

            .travel-country{
                font-size: 18px;
                color: rgb(255, 255, 255);
                font-weight: bold;
            }
            .travel-location{
                font-size: 26px;
                color: rgb(255, 255, 255);
                font-weight: bold;
            }
            .travel-button{
                .btn-travel-details{
                    background-color: rgb(219, 89, 3);
                    color: #fff;

                    &:hover{
                        color: rgb(219, 192, 181);
                    }
                }
            }
        }
    }
    .section-network{
        background-color: #fff;
        margin-top: -170px;
        padding-top: 240px;
        padding-bottom: 50px;

      h2{
          font-family: 'Playfair Display',sans-serif;
          font-weight: bold;
          font-size: 40px;
      }

      img{
         max-width: 100% !important;
          
      }
        
    }
    
 .section-testimonial-heading{
     background: linear-gradient(#fff 0%,#f7f9ff 100%);
     padding-top: 50px;
     min-height: 506px;

     h2{
        font-family: 'Playfair Display',sans-serif;
        font-weight: bold;
        font-size: 40x;
     }
     p{
         font-size: 18px;
     }
 }   
.section-testimonial-content{
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimonial{
        padding: 10px 20px 20px;
        border-radius: 11px;
        margin-bottom: 20px;
        background-color: rgb(255, 255, 255);
        color : #fff;

    .testimonial-content{
        min-height: 360px;
    }
    h3{
        font-size: 22px;
    }
    .testimonial{
        font-family: Assistant;
        font-weight: 200;
        font-size: 26px;
        text-align: center;
        color: #6e6e6e;
    }
    .trip-to{
        font-weight: normal;
        font-size: 22px;
        color: #6e6e6e;
    }
    hr{
        margin-left: -10px;
        margin-right: -10px;
    }
    
}
    .btn-get-started{
        background-color: rgb(250, 99, 11);
        &:hover{
            color: #fafafa;
          }
    }
    
    .btn-need-help{
        background-color: rgb(133, 133, 133);
        &:hover{
            color: #fafafa;
          }
    }
}

.section-footer{
    a{
        color: #071c4d;
        background: #E4E6EB;
    }
    

}


.section-details-header{
    min-height: 310px;
    background: #E4E6EB;
    margin-top: -70px;
}

.section-details-content{
    margin-top: -210px;
    min-height: 100vh;
    .breadcrumb{
        background-color:transparent ;
         padding: 0;
         margin-bottom: 30px;
    }

    .breadcrumb-item{
        &.active{
            font-weight: bold;
            color: #071c4d;
        }
    }
    .card-details{
        padding: 30px;
        border-radius: 11px;
    
        h1{
            font-size: 26px;
        }
        h2{
            font-size: 20px;
        }

        p{
            font-size: 18px;
            color: #b1b1b1;
        }
.trip-information{
    th{
        font-weight: 300;
        font-size: 18px;
        color: #071c4d;
    }
    td{
        font-weight: 300;
        font-size: 18px;
        color: #E4E6EB;
    }

    .text-blue{
        color: blue;
        font-weight: bold;
    }
    .text-orange{
        color:#d37b09;
        font-weight: bold;
    }
}

}

h3{
    font-family: Assistant;
    font-weight: 600;
    font-size: 14px;
    color: #071c4d;
}
.disclaimer{
    font-weight: 300;
    font-size: 18px;
    color: #b1b1b1;
}
    .gj-datepicker{
        .datepicker{
            border-right: 0;
        }
        .input-group-append{
            .btn{
                padding-right:30px ;
            }
        }
    }
.btn-add-now{
    background-color: #071c4d;
    color: #fff;
    margin-right: 10px;
    &:hover{
        background-color: #1E3771;
        color: rgb(255, 255, 255);
    }
}


    }
.card-right{
    border-bottom-left-radius:0 ;
    border-bottom-right-radius:0;
    border-bottom: 0;
}
        .features{
            margin-top: 20px;
        }

        h3{
            font-size: 18px;
            color: #071c4d;
            margin-bottom: 0;
        }
        .description{
            margin-left: 10px;
            overflow: hidden;
            float: left;
        }
        .features-image{
            width: 45px;
            height: 45px;
            float: left;
        }
    

    .gallery{
        .xzoom-container{
            display: block;

            .xzoom{
                width : 100%;
                box-shadow: none;
                margin-bottom: 10px;
            }
            .xactive{
                border: 4px solid;
                box-shadow: none;
            }
        }
    }
    .member{
        .member-image{
            width: 40px;
            height: 40px  ;
        }
    }
    .join-container{
        margin-top: -16px;
    }
    .btn-join-now{
        background-color: rgb(241, 82, 8);
        color: #fafafa;
        border-radius: 2px;
        &:hover{
            background-color: rgb(234, 124, 77);
            color: #fafafa;
        }

    }
